# Exam 1  (50 pts)
**Write your name:** Yumol, Dianne

In [1]:
import numpy as np
import pandas as pd

## Question 1. Consider the given tensor below.

In [2]:
gt2 = np.array([[198, 201, 202, 203, 205, 206, 205, 209, 207, 204],
                [199, 199, 204, 201, 203, 208, 206, 207, 209, 207],
                [201, 201, 203, 205, 206, 216, 223, 203, 207, 239],
                [206, 202, 205, 207, 196, 255, 238, 197, 160, 235],
                [202, 203, 232, 215, 197, 246, 230, 215, 153, 235]])

### 1.1 Find the number of rows and columns of `gt2`. (5 pts)

In [3]:
### Write your codes below to solve/answer 1.1
# nrows, ncols = (5,10)
nrows, ncols = np.shape(gt2)
print(nrows)
print(ncols)

5
10

### 1.2 Reshape `gt2` into a vector named `gt1`. (5 pts)

In [4]:
### Write your code below to solve/answer 1.2
gt1 = np.ravel(gt2) 
print(gt1)

[198 201 202 203 205 206 205 209 207 204 199 199 204 201 203 208 206 207
 209 207 201 201 203 205 206 216 223 203 207 239 206 202 205 207 196 255
 238 197 160 235 202 203 232 215 197 246 230 215 153 235]

### 1.3 Find the row-wise sums of `gt2`. (5 pts)

In [20]:
### Write your code below to solve/answer 1.3.
np.sum(gt2, axis = 1)

array([2040, 2043, 2104, 2101, 2128])

## Question 2. Consider the comma-delimited file `yob2005.txt` which is a record of the names of babies in the US in 2005.
*    The file has no column names.
*    Each row has the format `name,sex,number,` where `name` is 2 to 15 characters, `sex` is `M` (male) or `F` (female) and `number` is the number of occurrences of the name in 2005. 
*    The file is sorted first on sex and then on number of occurrences in descending order.

In [6]:
# loading the dataset into a pandas dataframe
babynames = pd.read_csv("yob2005.txt", sep=",", header=None, names=["Name", "Sex", "Number"])

In [7]:
# Used to visualize the dataframe
babynames.head()

      Name Sex  Number
0    Emily   F   23907
1     Emma   F   20318
2  Madison   F   19549
3  Abigail   F   15738
4   Olivia   F   15685

### 2.1 Find the number of rows and columns of `babynames`. (5 pts)

In [8]:
### Write your code below to solve 2.1.
nrows, ncols = babynames.shape
print(nrows)
print(ncols)

32508
3

### 2.2 Give some of the statistical summary of `babynames`. Are there missing values in the `Number` column? (5 pts) 

Use a `pandas` method to list the following statistics:
* count
* mean
* std
* min
* 25%
* 50%
* 75%
* max

In [34]:
### Write your code below to solve 2.2
babynames.describe()
# Based on the number of rows computed earlier and the count in the statistical summary, there are 0 missing values in Number.

             Number
count  32508.000000
mean     118.037868
std      811.093296
min        5.000000
25%        7.000000
50%       11.000000
75%       29.000000
max    25794.000000

**There are 0 missing values.**

In [33]:
# Used to check any missing values in the Number column
babynames['Number'].isnull().sum()

0

### 2.3 Find the sum of the 3rd column of `babynames`.   (5 pts)

In [11]:
### Write your code below to solve 2.3
babynames["Number"].sum()

3837175

## Question 3.  Consider the dataset `airquality.csv`. 

This is a daily air quality measurements in New York from May to September 1973. 
The dataset has 6 columns.

### 3.1 Read the dataset and assign it to the dataframe `airquality`.  (5 pts)

In [12]:
### Write your code below to solve 3.1
airquality = pd.read_csv("airquality.csv")

In [21]:
# Used to visualize the dataframe
airquality.head()

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

### 3.2 Run the code `airquality.info()`. Identify the columns with missing values and write the number of their missing values. (5 pts)

In [37]:
airquality.info()
# Observe that Wind, Temp, Month, and Day has 153 entries. This implies that 153 is the total number of data values.
# Ozone has 116 entries while Solar.R has 146 so there are 37 missing entries for Ozone and 7 missing entries for Solar.R
# Ozone: 153 - 116 = 37
# Solar. R: 153 - 146 = 7

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Ozone    116 non-null    float64
 1   Solar.R  146 non-null    float64
 2   Wind     153 non-null    float64
 3   Temp     153 non-null    int64
 4   Month    153 non-null    int64
 5   Day      153 non-null    int64
dtypes: float64(3), int64(3)
memory usage: 7.3 KB

**There are 2 columns with missing values. These are:**

$\checkmark$ Name: `Ozone`. Count of missing values: `37`

$\checkmark$ Name: `Solar.R`. Count of missing values: `7`

In [38]:
# Used to verify the number of missing values
airquality.isnull().sum()

Ozone      37
Solar.R     7
Wind        0
Temp        0
Month       0
Day         0
dtype: int64

### 3.3 Remove the rows with missing values in `airquality` and assign the result to a new dataframe `airquality_cleaned`. How many rows are in the new dataframe? (5 pts)

In [16]:
### Write your code below to solve/answer 3.3.
airquality_cleaned = airquality.dropna()
nrow = airquality_cleaned.shape[0]
## Number of rows left
print(nrow)

111

### 3.4  Fill the missing values in `airquality` with the mean of each column and assign the result to `airquality_filled`. Check whether the two dataframes have equal mean in each column. (5 pts)

In [30]:
### Write your code below to answer/solve 3.4
airquality_filled = airquality.fillna(airquality.mean())
airquality_filled.describe().loc["mean"] == airquality.mean()

Ozone      False
Solar.R    False
Wind        True
Temp        True
Month       True
Day         True
dtype: bool

In [39]:
# We can utilize the round function to make each column have equal mean.
airquality_filled = airquality.fillna(airquality.mean()).round(2)
airquality_filled.describe().loc["mean"].round(2) == airquality.mean().round(2)

Ozone      True
Solar.R    True
Wind       True
Temp       True
Month      True
Day        True
dtype: bool